config.env
*auth_token.txt
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
authorized_chats.txt
sudo_users.txt
accounts/*
Thumbnails/*
drive_folder
cookies.txt
.env
.cache
Yukkilogs.txt
.DS_Store
*.session
raw_files/
cache/
downloads/
__pycache__/
*.session-journal
